doctype html
html
  head
    title Organizer - Project
  body
    h1(style="text-align:center;") Organizer Project - Welcome
    p(style="text-align:center;") Di seguito puoi trovare il link al repository GitHub.
    p(style="text-align:center;")
      a(href='https://github.com/frascaluigi/organizer') GitHub Repository